<div class="container text-center">
  <div class="col-md-4 col-md-offset-4">
    <div class="singleContact" ng-class="{'superHero': contact.isSuper}">
      <h3 class="name" ng-class="{'superFont': contact.isSuper}">{{contact.firstName}} {{contact.middleName}} {{contact.lastName}}</h3>
      <h4 class="nickName" ng-class="{'superFont': contact.isSuper}">{{contact.nickName}}</h4>
      <h4 class="phoneNumber" ng-class="{'superFont': contact.isSuper}">{{contact.phoneNumber}}</h4>
      <h4 class="address" ng-class="{'superFont': contact.isSuper}">{{contact.address}}</h4>
      <h4 class="birthday" ng-class="{'superFont': contact.isSuper}">{{contact.birthday}}</h4>
    </div>
  </div>
</div>