<div class="container text-center">
  <div class="col-md-4 col-md-offset-4">
    <div class="singleContact">
      <button class="btn btn-default star" data-placement="top" title="Favorite?" ng-if="!contact.isFavorite"><i class="fa fa-star-o" aria-hidden="true" ng-click="switchFavorite(contact, contact.id)"></i></button>
      <button class="btn btn-default star" data-placement="top" title="Favorite?" ng-if="contact.isFavorite"><i class="fa fa-star" aria-hidden="true" ng-click="switchFavorite(contact, contactId)"></i></button>
      <h3 class="name">{{contact.firstName}} {{contact.middleName}} {{contact.lastName}}</h3>
      <h4 class="nickName">{{contact.nickName}}</h4>
      <h4 class="phoneNumber">{{contact.phoneNumber}}</h4>
      <h4 class="address">{{contact.address}}</h4>
      <h4 class="birthday">{{contact.birthday}}</h4>
    </div>
  </div>
</div>