<div class="text-center" id="edit">
	<h1>Edit Contact</h1>
	<div>
	  <form class="form-horizontal" name="newContactForm">
	    <div class="form-group">
	      <input type="text" id="inputFirstName" placeholder="First Name" ng-model="contact.firstName" required>
	    </div>
	    <div class="form-group">
	      <input type="text" id="inputMiddleName" placeholder="Middle Name" ng-model="contact.middleName" required>
	    </div>
	    <div class="form-group">
	      <input type="text" id="inputLastName" placeholder="Last Name" ng-model="contact.lastName" required>
	    </div>
	    <div class="form-group">
	      <input type="text" id="inputNickName" placeholder="Nick Name" ng-model="contact.nickName" required>
	    </div>
	    <div class="form-group">
	      <input type="text" id="inputAddress" placeholder="Address" ng-model="contact.address" required>
	    </div>
	    <div class="form-group">
	      <input type="tel" id="inputPhoneNumber" placeholder="Phone Number" ng-model="contact.phoneNumber" required>
	    </div>
	    <div class="form-group">
	      <input type="text" id="inputBirthday" placeholder="Birthday" ng-model="contact.birthday" required>
	    </div>
	    <button type="submit" class="btn btn-default" ng-disabled="newContactForm.$invalid" ng-click="editContact(contact)">Submit</button>
	  </form>
	</div>
</div>




<!-- <h3 class="name">{{contact.firstName}} {{contact.middleName}} {{contact.lastName}}</h3>
<p class="nickName">{{contact.nickName}}</p>
<p class="phoneNumber">{{contact.phoneNumber}}</p>
<p class="address">{{contact.address}}</p>
<p class="birthday">{{contact.birthday}}</p> -->