<div class="text-center" id="favorites">
	<h1>Favorite Contacts</h1>
	<div id="faveContacts">
		<div ng-repeat="contact in contacts" class="col-sm-3 contact">
			<div class="thumbnail" ng-class="{'superHero': contact.isSuper}">
				<button class="btn btn-default delete" data-toggle="tooltip" data-placement="top" title="Delete Contact" ng-click="deleteContact(contact.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
				<button class="btn btn-default star" ng-if="!contact.isFavorite" ng-click="switchFavorite(contact, contactId)" data-toggle="tooltip" data-placement="top" title="Favorite?"><i class="fa fa-star-o" aria-hidden="true" ></i></button>
				<button class="btn btn-default star" ng-if="contact.isFavorite" ng-click="switchFavorite(contact, contactId)" data-toggle="tooltip" data-placement="top" title="Favorite?"><i class="fa fa-star" aria-hidden="true"></i></button>
				<button class="btn btn-default pencil" data-toggle="tooltip" data-placement="top" title="Edit Info" ng-click="editContactInfo(contact.id)"><i class="fa fa-pencil" aria-hidden="true" ></i></button>
				<button class="btn btn-default search" ng-click="viewDetails(contact.id)" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-search" aria-hidden="true"></i></button>
				<button class="btn btn-default power" ng-click="toggleSuper(contact)" data-toggle="tooltip" data-placement="top" title="Super Hero?"><i class="fa fa-superpowers" aria-hidden="true"></i></button>
				<h3 class="name" ng-class="{'superFont': contact.isSuper}">{{contact.firstName}} {{contact.middleName}} {{contact.lastName}}</h3>
				<p class="phoneNumber" ng-class="{'superFont': contact.isSuper}">{{contact.phoneNumber}}</p>
			</div>
		</div>
	</div>
</div>