<div class="text-center" id="favorites">
	<h1>Favorite Contacts</h1>
	<div id="contacts">
		<div ng-repeat="contact in contacts" class="col-sm-6 contact">
			<div class="thumbnail">
				<button class="btn btn-default delete" ng-click="deleteContact(contact.id)">X</button>
				<button class="btn btn-default star" ng-if="contact.isFavorite"><i class="fa fa-star" aria-hidden="true" ng-click="unFavorite(contact, contactId)"></i></button>
				<button class="btn btn-default pencil"><i class="fa fa-pencil" aria-hidden="true"></i></button>
				<button class="btn btn-default search"><i class="fa fa-search" aria-hidden="true" ng-click="editContactInfo(contact.id)"></i></button>
				<h3 class="name">{{contact.firstName}} {{contact.middleName}} {{contact.lastName}}</h3>
				<p class="nickName">{{contact.nickName}}</p>
				<p class="phoneNumber">{{contact.phoneNumber}}</p>
				<p class="address">{{contact.address}}</p>
				<p class="birthday">{{contact.birthday}}</p>
			</div>
		</div>
	</div>
</div>