<div class="text-center" id="new">
	<h1>Add New Contact</h1>
	<div>
	  <form>
	    <div class="form-group">
	      <label for="inputFirstName">First Name</label>
	      <input type="text" id="inputFirstName" placeholder="First Name" ng-model="contact.firstName">
	    </div>
	    <div class="form-group">
	      <label for="inputMiddleName">Middle Name</label>
	      <input type="text" id="inputMiddleName" placeholder="Middle Name" ng-model="contact.MiddleName">
	    </div>
	    <div class="form-group">
	      <label for="inputLastName">Last Name</label>
	      <input type="text" id="inputLastName" placeholder="Last Name" ng-model="contact.lastName">
	    </div>
	    <div class="form-group">
	      <label for="inputNickName">Nick Name</label>
	      <input type="text" id="inputNickName" placeholder="Nick Name" ng-model="contact.nickName">
	    </div>
	    <div class="form-group">
	      <label for="inputAddress">Address</label>
	      <input type="text" id="inputAddress" placeholder="Address" ng-model="contact.address">
	    </div>
	    <div class="form-group">
	      <label for="inputPhoneNumber">Phone Number</label>
	      <input type="tel" id="inputPhoneNumber" placeholder="Phone Number" ng-model="contact.phoneNumber">
	    </div>
	    <div class="form-group">
	      <label for="inputBirthday">Birthday</label>
	      <input type="text" id="inputBirthday" placeholder="Birthday" ng-model="contact.birthday">
	    </div>
	    <button type="submit" class="btn btn-default" ng-click="saveNewContact(contact)">Submit</button>
	  </form>
	</div>
</div>