<div class="text-center" id="view">
	<h1>My Contacts</h1>
	
	<div class="input-group input-group-lg col-xs-6 col-xs-offset-3">
		<span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true"></span>
		<input type="text" class="form-control" placeholder="Find a Contact" ng-model="searchText">
	</div>

	<div id="contacts" class="container-fluid">
		<div ng-repeat="contact in contacts | filter: searchText" class="col-sm-3 contact">
			<div class="thumbnail" ng-class="{'superHero': contact.isSuper}">
				<button class="btn btn-default delete" data-toggle="tooltip" data-placement="top" title="Delete Contact" ng-click="deleteContact(contact.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
				<button class="btn btn-default star" data-toggle="tooltip" data-placement="top" title="Favorite?" ng-if="!contact.isFavorite" ng-click="switchFavorite(contact, contactId)"><i class="fa fa-star-o" aria-hidden="true" ></i></button>
				<button class="btn btn-default star" data-toggle="tooltip" data-placement="top" title="Favorite?" ng-if="contact.isFavorite" ng-click="switchFavorite(contact, contactId)"><i class="fa fa-star" aria-hidden="true" ></i></button>
				<button class="btn btn-default pencil" data-toggle="tooltip" data-placement="top" title="Edit Info" ng-click="editContactInfo(contact.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
				<button class="btn btn-default search" data-toggle="tooltip" data-placement="top" title="Details" ng-click="viewDetails(contact.id)"><i class="fa fa-search" aria-hidden="true"></i></button>
				<button class="btn btn-default power" data-toggle="tooltip" data-placement="top" title="Super Hero?" ng-click="toggleSuper(contact)"><i class="fa fa-superpowers" aria-hidden="true" ></i></button>
				<h3 class="name" ng-class="{'superFont': contact.isSuper}">{{contact.firstName}} {{contact.middleName}} {{contact.lastName}}</h3>
				<h4 class="phoneNumber" ng-class="{'superFont': contact.isSuper}">{{contact.phoneNumber}}</h4>
			</div>
		</div>
	</div>







	</div>






</div>